/* general styless */
@font-face {
   font-family: ADBrown;
   src: url(../fonts/ADBrown-Regular.otf);
}

@font-face {
   font-family: ADBrownBold;
   src: url(../fonts/ADBrown-Bold.otf);
}

body {
	font: 14px Georgia;
	width: 600px;
	margin: 20px 25px;
}

#headline {
	font-size: 20px;
	margin-bottom: 5px;
}

.title {
	font-family: ADBrown, Helvetica;
}

h1 {
	margin: 0px;
}

h2 {
	margin: 0px;
	font-size: 16px;
}

/* step 1 styles */

#choosechart {
	margin-bottom: 20px;
}

#choosechart input[type=radio] {
	display: none;
}

.chart-description {
	margin-top: 10px; 
}

.chartradio {
	opacity: .5;
	max-width: 400px;
	border: 2px solid white;
}

.chartradio-inner {
	padding: 15px;
}

#choosechart .selected {
	opacity: 1;
	/* border-color: #f6f6f6;
	border-color: #d3d3d3; */
}

.choice-icon {
	float: left;
	margin-right: 10px;
}

.chartradio:hover {
	opacity: 1;
	border-color: #f6f6f6;
}

.instructions {
	margin: 20px 0px;
	font: 18px ADBrown;
	text-transform: uppercase;
}

#spreadsheet {
	font-family: sans-serif;
	width: 550px;
	height: 260px;
	overflow: hidden;
}

/* step 2 styles */

#step2 {
	display: none;
}

#chart {
	max-width: 1500px;
}

#charttitle {
	font-size: 32px;
	font-weight: bold;
	width: 800px;
	overflow: visible;
}

#chartdescription {
	font: 16px Georgia;
	width: 600px;
}

input[type="text"], textarea {
  border: solid 1px white; 
  transition: border 0.3s;
  resize: none;
}

input[type="text"]:focus, textarea:focus {
	border-color: #d3d3d3;
	outline: none;
	resize: both;
}

/* navigation styles */

.navigation {
	width: 100%;
	max-width: 810px;
	margin-top: 20px;
	overflow: hidden;
}

#createchart, #getlink { 
	float: right;
}

#back {
	float: left;
}