@font-face {
   font-family: ADBrown;
   src: url(fonts/ADBrown-Regular.otf);
}

#chart {
  font: 1.2em ADBrown, Georgia;
}

.axis path,
.axis line {
  fill: none;
  stroke: #d3d3d3; 
  shape-rendering: crispEdges;
}

.dot {
  stroke: white;
}

.legend {
  font-size: 1em;
}